In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("input/cardata.csv", encoding="latin1")
df.head()

,Company,Model,Engine Type,Engine Capacity,HorsePower,Top Speed (km/h),0-100 km/h (s),Price ($),Fuel Type,Seats,Torque (Nm),Transmission,Drive,Year,Fuel Efficiency (L/100km)
0,Kia,Chiron,Hybrid,4.0L,1151,245,5.9,275186,Petrol,7,1364,Manual,AWD,2017,14.4
1,Volvo,X5,Hybrid,82 kWh,178,174,6.4,173239,Hybrid,2,1345,Automatic,FWD,2023,7.6
2,Jaguar,Elantra,Electric,82 kWh,397,258,11.7,109527,Electric,5,313,Manual,RWD,2022,10.0
3,Volkswagen,Taycan,Hybrid,82 kWh,384,153,3.6,98337,Diesel,4,1015,Manual,RWD,2017,15.1
4,Mercedes,i8,Electric,82 kWh,768,153,5.1,87894,Hybrid,7,691,Single Speed,FWD,2016,11.7

In [8]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company                    1500 non-null   object
 1   Model                      1500 non-null   object
 2   Engine Type                1500 non-null   object
 3   Engine Capacity            1500 non-null   object
 4   HorsePower                 1500 non-null   int64
 5   Top Speed (km/h)           1500 non-null   int64
 6   0-100 km/h (s)             1500 non-null   float64
 7   Price ($)                  1500 non-null   int64
 8   Fuel Type                  1500 non-null   object
 9   Seats                      1500 non-null   int64
 10  Torque (Nm)                1500 non-null   int64
 11  Transmission               1500 non-null   object
 12  Drive                      1500 non-null   object
 13  Year                       1500 non-null   int64
 14  Fuel Efficiency (L/100km)  1500 non-null   float64
dtypes: float64(2), int64(6), object(7)
memory usage: 175.9+ KB

,Company,Model,Engine Type,Engine Capacity,HorsePower,Top Speed (km/h),0-100 km/h (s),Price ($),Fuel Type,Seats,Torque (Nm),Transmission,Drive,Year,Fuel Efficiency (L/100km)
count,1500,1500,1500,1500,1500.000000,1500.000000,1500.000000,1500.000000,1500,1500.000000,1500.000000,1500,1500,1500.000000,1500.000000
unique,24,24,4,7,NaN,NaN,NaN,NaN,4,NaN,NaN,4,3,NaN,NaN
top,BMW,Q7,Petrol,2.0L,NaN,NaN,NaN,NaN,Diesel,NaN,NaN,Automatic,RWD,NaN,NaN
freq,79,73,395,228,NaN,NaN,NaN,NaN,388,NaN,NaN,384,530,NaN,NaN
mean,NaN,NaN,NaN,NaN,635.134000,271.493333,7.330733,158178.564000,NaN,4.522000,842.257333,NaN,NaN,2019.533333,11.507333
std,NaN,NaN,NaN,NaN,325.116638,75.940872,2.728870,82938.749505,NaN,1.810995,432.056572,NaN,NaN,2.898935,4.833852
min,NaN,NaN,NaN,NaN,70.000000,140.000000,2.500000,15036.000000,NaN,2.000000,100.000000,NaN,NaN,2015.000000,3.000000
25%,NaN,NaN,NaN,NaN,350.750000,207.000000,5.100000,85530.250000,NaN,4.000000,461.500000,NaN,NaN,2017.000000,7.400000
50%,NaN,NaN,NaN,NaN,635.000000,272.000000,7.400000,157582.000000,NaN,4.000000,852.500000,NaN,NaN,2020.000000,11.400000
75%,NaN,NaN,NaN,NaN,921.000000,339.000000,9.700000,231348.500000,NaN,7.000000,1223.750000,NaN,NaN,2022.000000,15.500000
max,NaN,NaN,NaN,NaN,1199.000000,399.000000,12.000000,299833.000000,NaN,7.000000,1599.000000,NaN,NaN,2024.000000,20.000000